version: "3.9"

services:
  backend:
    image: gregoarcenta/realtime-chat-backend
    container_name: realtime-chat-backend
    environment:
      - NODE_ENV=production
    ports:
      - "3001:3000"

  frontend:
    image: gregoarcenta/realtime-chat
    container_name: realtime-chat
    ports:
      - "4002:4002"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
